#event-index{
  background-image:url('http://localhost/images/core/event.jpg');
  background-repeat:no-repeat;
  background-position: center bottom;
  background-size:cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  height:50vh;
  max-height:50vh;


}
#index{
  background-image:url('http://localhost/images/core/event.jpg');
  background-repeat:no-repeat;
  background-position: center bottom;
  background-size:cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  height:50vh;
  max-height:50vh;


}
